/**/build/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/dist/*
/**/.generated_files/*
/**/mcc-manifest-autosave.yml
/**/mcc-manifest-generated-success.yml
/**/defmplabxtrace.log
/**/defmplabxtrace.log.inx
/**/debug/*
pic24magdata.log
