/TDWS_PIC24_FILES/Main_Project/TDWS_Main_Prgram.X/build/
/TDWS_PIC24_FILES/Main_Project/TDWS_Main_Prgram.X/dist/
/TDWS_PIC24_FILES/Main_projects/TDWS_Main.X/nbproject/
/TDWS_PIC24_FILES/Main_projects/TDWS_Main.X/debug/


/TDWS_PIC24_FILES/Test_projects/LoRa_receiver_test.X/build/
/TDWS_PIC24_FILES/Test_projects/LoRa_receiver_test.X/dist/
/TDWS_PIC24_FILES/Test_projects/LoRa_receiver_test.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/LoRa_receiver_test.X/debug/


/TDWS_PIC24_FILES/Test_projects/LoRa_Testing.X/build/
/TDWS_PIC24_FILES/Test_projects/LoRa_Testing.X/dist/
/TDWS_PIC24_FILES/Test_projects/LoRa_Testing.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/LoRa_Testing.X/debug/

/TDWS_PIC24_FILES/Test_projects/LoRaReceiverTesting.X/build/
/TDWS_PIC24_FILES/Test_projects/LoRaReceiverTesting.X/dist/
/TDWS_PIC24_FILES/Test_projects/LoRaReceiverTesting.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/LoRaReceiverTesting.X/debug/

/TDWS_PIC24_FILES/Test_projects/radar_TDWS.X/build/
/TDWS_PIC24_FILES/Test_projects/radar_TDWS.X/dist/
/TDWS_PIC24_FILES/Test_projects/radar_TDWS.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/radar_TDWS.X/debug/

/TDWS_PIC24_FILES/Test_projects/switch_testing.X/build/
/TDWS_PIC24_FILES/Test_projects/switch_testing.X/dist/
/TDWS_PIC24_FILES/Test_projects/switch_testing.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/switch_testing.X/debug/

/TDWS_PIC24_FILES/Test_projects/tdws_testing.X/build/
/TDWS_PIC24_FILES/Test_projects/tdws_testing.X/dist/
/TDWS_PIC24_FILES/Test_projects/tdws_testing.X/nbproject/
/TDWS_PIC24_FILES/Test_projects/tdws_testing.X/debug/